* {
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/

header {
    
    border-bottom: solid 1px rgb(223, 185, 185);
}

.container-fluid {
    height: 160px;
    padding: 1% auto 1%;
    margin-top: 3px;
}

.row {
    height: 100%;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.heart {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.heart:hover {
    height: 55px;
    width: 55px;
}

.bag {
    height: 50px;
    width: 50px;
}

.bag:hover {
    height: 55px;
    width: 55px;
}

p {
    font-family: "Roboto Slab", serif;
    color: rgb(223, 108, 108);
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    color: rgb(223, 108, 108);
    margin: 0;
}

a:hover{
    text-decoration: underline;
}

/*Container*/
.container {
    border: solid 1px #ff5a5a;
    height: 80vh;
}

/*Rodapé*/

footer {
    background-color: rgb(189, 52, 52);
}

.foot {
    height: 100%;
}

.foot p {
    color: white;
}

footer h3 {
    color: white;
}

.icons img {
    width: 50px;
    height: 50px;
}

